<div>
  <a [routerLink]="['home']" routerLinkActive="active-link">Accueil</a> -
  <a [routerLink]="['/admin','dashboard']" routerLinkActive="active-link">Admin</a> -
  <a [routerLink]="['/admin','recettes']" routerLinkActive="active-link">Recettes</a> -
  <a [routerLink]="['contact']" routerLinkActive="active-link">Contact</a> -
  <a [routerLink]="['mentions-legales']" routerLinkActive="active-link">Mentions Légales</a> -
  <a [routerLink]="['politique-confidentialite']" routerLinkActive="active-link">Politique de confidentialité</a>
</div>




