<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <h2 class="display-5 text-dark">Droits</h2>
      <hr class="bg-dark mb-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Droit</th>
            <th scope="col">ON/OFF</th>
          </tr>
        </thead>
        <tbody *ngIf="currentGrantArray && currentGrant && currentGrant.id">
          <tr *ngFor="let onegrant of currentGrantArray ; let i = index">
            <td>
              {{ onegrant[2] }}
            </td>
            <td>
                <div class="slideButton" [ngClass]="role != 'admin' ? 'locked' : ''">
                  <input type="checkbox" value="d" id="slide{{i}}" name="check" [checked]="onegrant[1] == 1"
                  (click)="onToggleGrants(currentGrant.id, onegrant[0], onegrant[1])"
                  [disabled]="role != 'admin'"/>
                  <label for="slide{{i}}"></label>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


