<h1>PARTENAIRES</h1>

<div class="container py-5">
  <div class="row mb-5" *ngIf="false">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
      <div class="bg-white shadow rounded p-4">
        <h2 class="display-5 text-dark">
          {{ titrePage }}
        </h2>
        <hr class="bg-dark mb-5">
        <form [formGroup]="partenaireForm" (ngSubmit)="onSubmitPartenaireForm()">
          <input type="text" formControlName="id" hidden>
          <div class="form-group mb-3">
            <label for="nomfranchise">NOM FRANCHISE</label>
            <input type="text" id="nomfranchise" class="form-control" formControlName="nomfranchise" appUppercaseInput >
          </div>
          <div class="form-group mb-3">
            <label for="sexegerant">Sexe Gérant</label>
            <input type="text" id="sexegerant" class="form-control" formControlName="sexegerant">
          </div>
          <div class="form-group mb-3">
            <label for="nomgerant">Gérant</label>
            <input type="text" id="nomgerant" class="form-control" formControlName="nomgerant">
          </div>
          <div class="form-group mb-3">
            <label for="mail">Mail</label>
            <input type="mail" id="mail" class="form-control" formControlName="mail">
          </div>
          <div class="form-group mb-3" *ngIf="!partenaireForm.value.id">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" placeholder="Minimum 8 caractères" id="password" formControlName="password"
            [ngClass]="partenaireForm.value.id ? 'noUpdate' : ''">
          </div>
          <div class="form-group mb-3" *ngIf="!partenaireForm.value.id">
            <label for="passwordConfirm">Confirmez le mot de passe</label>
            <input type="password" class="form-control" placeholder="Minimum 8 caractères" id="passwordConfirm" formControlName="passwordConfirm"
            [ngClass]="partenaireForm.value.id ? 'noUpdate' : ''">
          </div>
          <div class="form-group mb-3">
            <b>Actif</b>
              <div class="form-check">
                <div>
                  <input type="checkbox" class="form-check-input" id="actif" formControlName="actif">
                  <label for="actif" class="form-check-label">Actif</label>
                </div>
              </div>
          </div>
          <div class="form-group mb-3">
            <b>Droits</b>
            <div class="form-check">
              ICI, formulaire GRANTS
              <input type="number" class="form-control" id="grants" formControlName="grants" hidden>
            </div>
          </div>
          <div class="d-flex">
            <button class="btn btn-success mx-auto" [disabled]="partenaireForm.invalid || partenaireForm.value.password !== partenaireForm.value.passwordConfirm">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>


<div class="container py-5">
  <h1 class="display-5 mb-5">Toutes les partenaires</h1>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xxl-3 py-2" *ngFor="let partenaire of partenaires; let i = index">
      <div class="card">
        <!-- <img [src]="recette.photo" alt="Photo de la recette" class="card-img-top"> -->
        <!-- <img [src]="" alt="Photo du partenaire" class="card-img-top"> -->
        <div class="card-body" [ngClass]="partenaire.actif == 1 ? 'partenaire-actif' : 'partenaire-inactif'">
          <h5 class="card-title">{{ partenaire.nomfranchise }}</h5>
          <p class="card-text">
            N°{{ i }} - #{{ partenaire.id }}<br/>
            {{ partenaire.sexegerant?.toUpperCase() === 'F' ? 'Mme' : 'M.' }} {{ partenaire.nomgerant }}<br/>
            {{ partenaire.mail }}
          </p>
          <hr/>
          <p class="card-text">
            <button class="btn btn-primary" type="button" (click)="onEditPartenaire(partenaire)">Modifier</button>
            <button class="btn btn-danger" type="button" (click)="onDeletePartenaire(partenaire.id)">Supprimer</button>
          </p>
          <hr>
          <button class="btn btn-success" type="button"
              [ngClass]="partenaire.actif == 1 ? 'btn-success' : 'btn-danger'"
              (click)="onTogglePartenaireActif(partenaire.id!.toString(), partenaire.actif!)">
              {{ partenaire.actif == 1 ? 'Désactiver' : 'Activer'}}
          </button>
          <button class="btn btn-primary" type="button"
            (click)="onToggleGrantsForm(partenaire.id)">
            {{ grantsFormToggle == partenaire.id ? "-" : "+" }}
          </button>
        </div>
        <div class="card" *ngIf="grantsFormToggle && grantsFormToggle == partenaire.id">
          <div class="card-body">
            <app-grants [partenaire]="partenaire"></app-grants>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
