<h1>{{ h1 }}</h1>

<div class="container py-1" *ngIf="role == 'admin'">
  <div class="col-12 col-md-6">
    <div class="row align-items-end">
        <div class="col-10 input-group">
          <div class="input-group-text">
            <img src="https://fatabien.com/sallesport/assets/search.svg" alt="SEARCH"/>
          </div>
          <input type="text" id="seekpartenaire" name="seekpartenaire" maxlength="40" class="form-control" placeholder="minimum 2 caractères" (keyup)="onChangeSeekPartenaire($event)">
          <!-- <button type="submit" class="btn btn-primary">GO !</button> -->
        </div>
        <div class="col-2 my-2 mx-0">
          <button
            class="btn btn-primary mx-0"
            [ngClass]="libelleFilterButton == 'Actifs' ? 'btn-success' : libelleFilterButton == 'Inactifs' ? 'btn-danger' : 'btn-primary'"
            (click)="togglePartenairesFilter()"
          >{{ libelleFilterButton }}</button>
        </div>
    </div>
  </div>
</div>

<div class="container py-5" *ngIf="role == 'admin'">
  <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto d-flex justify-content-end" *ngIf="displayCreatePartenaireForm == false">
    Ajouter un partenaire <img src="https://fatabien.com/sallesport/assets/plus-circle.svg" alt="PLUS" class="mx-3 img-link" width="30" (click)="toggleDisplayCreatePartenaireForm()">
  </div>
  <div class="row mb-5" *ngIf="displayCreatePartenaireForm == true">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
      <div class="bg-white shadow rounded p-4">
        <div class="d-flex justify-content-end">
          <img src="https://fatabien.com/sallesport/assets/dash-circle.svg" alt="MOINS" class="img-link" width="30" (click)="toggleDisplayCreatePartenaireForm()">
        </div>
        <h2 class="display-5 text-dark">
          {{ titrePage }}
        </h2>
        <hr class="bg-dark mb-5">
        <form [formGroup]="partenaireForm" (ngSubmit)="onSubmitPartenaireForm()">
          <input type="text" formControlName="id" hidden>
          <div class="form-group mb-3">
            <label for="nomfranchise">NOM FRANCHISE</label>
            <input type="text" id="nomfranchise" class="form-control" maxlength="45" formControlName="nomfranchise" appUppercaseInput >
          </div>
<!--           <div class="form-group mb-3">
            <label for="photoPartenaire">Photo ou logo</label>
            <input type="file" id="photoPartenaire" class="form-control" formControlName="photoPartenaire" (change)="onChangePartenairePhoto($event)" >
          </div> -->
          <div class="alert alert-danger" role="alert" *ngIf="partenaireForm.controls['nomfranchise'].errors && partenaireForm.controls['nomfranchise'].touched">
            <span *ngIf="partenaireForm.controls['nomfranchise'].errors?.['required']">Merci de saisir un nom de franchise</span>
            <span *ngIf="partenaireForm.controls['nomfranchise'].errors?.['minlength']">Minimum 2 caractères</span>
            <span *ngIf="partenaireForm.controls['nomfranchise'].errors?.['maxlength']">Maximum 45 caractères</span>
          </div>
          <div class="form-group mb-3">
            <label for="sexegerant">Sexe Gérant</label>
            <input type="text" id="sexegerant" class="form-control" maxlength="1" formControlName="sexegerant">
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="partenaireForm.controls['sexegerant'].errors && partenaireForm.controls['sexegerant'].touched">
            <span *ngIf="partenaireForm.controls['sexegerant'].errors?.['required']">Merci de saisir 'f' ou 'm'</span>
            <span *ngIf="partenaireForm.controls['sexegerant'].errors?.['minlength']">Minimum 1 caractère</span>
            <span *ngIf="partenaireForm.controls['sexegerant'].errors?.['maxlength']">Maximum 1 caractère</span>
            <span *ngIf="partenaireForm.controls['sexegerant'].errors?.['pattern']">f ou m</span>
          </div>
          <div class="form-group mb-3">
            <label for="nomgerant">Gérant</label>
            <input type="text" id="nomgerant" class="form-control" maxlenght="45" formControlName="nomgerant">
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="partenaireForm.controls['nomgerant'].errors && partenaireForm.controls['nomgerant'].touched">
            <span *ngIf="partenaireForm.controls['nomgerant'].errors?.['required']">Merci de saisir un nom de gérant(e)</span>
            <span *ngIf="partenaireForm.controls['nomgerant'].errors?.['minlength']">Minimum 2 caractères</span>
            <span *ngIf="partenaireForm.controls['nomgerant'].errors?.['maxlength']">Maximum 45 caractères</span>
          </div>
          <div class="form-group mb-3">
            <label for="mail">Mail</label>
            <input type="mail" id="mail" class="form-control" maxlength="45" formControlName="mail">
            <input type="hidden" class="form-control" id="password" formControlName="password" *ngIf="partenaireForm.value.id">
            <input type="hidden" class="form-control" id="passwordConfirm" formControlName="passwordConfirm" *ngIf="partenaireForm.value.id">
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="partenaireForm.controls['mail'].errors && partenaireForm.controls['mail'].touched">
            <span *ngIf="partenaireForm.controls['mail'].errors?.['required']">Merci de saisir une adresse mail valide</span>
            <span *ngIf="partenaireForm.controls['mail'].errors?.['email']">Adresse mail invalide</span>
            <span *ngIf="partenaireForm.controls['mail'].errors?.['maxlength']">Maximum 45 caractères</span>
          </div>
          <!--        MOT de PASSE            -->
          <div class="form-group mb-3" *ngIf="!partenaireForm.value.id">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" placeholder="Minimum 8 caractères" maxlength="45" id="password" formControlName="password"
            [ngClass]="partenaireForm.value.id ? 'noUpdate' : ''">
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="!partenaireForm.value.id && partenaireForm.controls['password'].errors && partenaireForm.controls['password'].touched">
            <span *ngIf="partenaireForm.controls['password'].errors?.['required']">Merci de saisir un mot de passe</span>
            <span *ngIf="partenaireForm.controls['password'].errors?.['minlength']">Minimum 8 caractères</span>
            <span *ngIf="partenaireForm.controls['password'].errors?.['maxlength']">Maximum 45 caractères</span>
          </div>
          <!--        MOT de PASSE Confirm            -->
          <div class="form-group mb-3" *ngIf="!partenaireForm.value.id">
            <label for="passwordConfirm">Confirmez le mot de passe</label>
            <input type="password" class="form-control" placeholder="Minimum 8 caractères" id="passwordConfirm" maxlength="45" formControlName="passwordConfirm"
            [ngClass]="partenaireForm.value.id ? 'noUpdate' : ''">
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="!partenaireForm.value.id && partenaireForm.controls['passwordConfirm'].errors && partenaireForm.controls['passwordConfirm'].touched">
            <span *ngIf="partenaireForm.controls['passwordConfirm'].errors?.['required']">Merci de saisir un mot de passe</span>
          </div>
          <!--       FIN mots de PASSE                   -->
          <div class="form-group mb-3">
            <b>Actif</b>
              <div class="form-check">
                <div>
                  <input type="checkbox" class="form-check-input" id="actif" formControlName="actif">
                  <label for="actif" class="form-check-label">Actif</label>
                  <input type="number" class="form-control" id="grants" formControlName="grants" hidden>
                </div>
              </div>
          </div>
          <div class="d-flex">
            <button class="btn btn-success mx-auto" [disabled]="partenaireForm.invalid || partenaireForm.value.password !== partenaireForm.value.passwordConfirm">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <h2 class="display-5 mb-5" *ngIf="currentUser && currentUser.role == 'admin'">Liste des partenaires</h2>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xxl-3 py-2" *ngFor="let partenaire of partenairesToDisplay; let i = index">
      <div class="card" [ngClass]="partenaire.actif == 1 ? 'partenaire-actif' : 'partenaire-inactif'">
        <!-- <img [src]="" alt="Photo du partenaire" class="card-img-top"> -->
        <div class="card-body">
          <h5 class="card-title">{{ partenaire.nomfranchise }}</h5>
          <a class="link" [routerLink]="['../structures', partenaire.id, partenaire.nomfranchise]" routerLinkActive="active-link">Voir les structures</a><br/>
          <!-- [queryParams]="{partenaireId: partenaire.id}" -->
          <p class="card-text">
            N°{{ i }} - #{{ partenaire.id }}<br/>
            {{ partenaire.sexegerant?.toUpperCase() === 'F' ? 'Mme' : 'M.' }} {{ partenaire.nomgerant }}<br/>
            {{ partenaire.mail }}
          </p>
          <hr/>
          <p class="card-text" *ngIf="role == 'admin'">
            <button class="btn btn-primary" type="button" (click)="onEditPartenaire(partenaire)">Modifier</button>
            <button class="btn btn-danger" type="button" (click)="onDeletePartenaire(partenaire.id)">Supprimer</button>
          </p>
          <hr *ngIf="role == 'admin'">
          <button class="btn btn-success" type="button"
              [ngClass]="partenaire.actif == 1 ? 'btn-success' : 'btn-danger'"
              (click)="onTogglePartenaireActif(partenaire.id!.toString(), partenaire.actif!)"
              *ngIf="role == 'admin'">
              {{ partenaire.actif == 1 ? 'Désactiver' : 'Activer'}}
          </button>
          <button class="btn btn-primary" type="button"
            (click)="onToggleGrantsForm(partenaire.id)">
            {{ grantsFormToggle == partenaire.id ? "-" : "+" }}
          </button>
        </div>
        <app-grants [partenaire]="partenaire" *ngIf="grantsFormToggle && grantsFormToggle == partenaire.id"></app-grants>
      </div>
    </div>
  </div>
</div>


