.no-update{
  background-color: lightgray;
}

button{
  margin-left: 1rem;
  margin-right: 1rem;
}

.partenaire-actif{
  background-color: var(--bgActive);
}

.partenaire-inactif{
  background-color: var(--bgInactive);
}
