<h1>STRUCTURES</h1>
<a *ngIf="partenaireId" class="nav-link" [routerLink]="['../../../partenaires']" routerLinkActive="active-link">&NestedLessLess; Partenaires</a><br/>
<a *ngIf="!partenaireId" class="nav-link" [routerLink]="['../partenaires']" routerLinkActive="active-link">&NestedLessLess; Partenaires</a><br/>

<div class="container py-1">
  <div class="col-12 col-md-6">
    <div class="row align-items-end">
        <div class="col-10 input-group">
          <div class="input-group-text">
            <img src="../assets/search.svg"/>
          </div>
          <input type="text" id="seekstructure" name="seekstructure" maxlength="40" class="form-control" placeholder="minimum 2 caractères" (keyup)="onChangeSeekStructure($event)">
          <!-- <button type="submit" class="btn btn-primary">GO !</button> -->
        </div>
    </div>
  </div>
</div>

<div class="container py-5" *ngIf="role == 'admin'">
  <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto d-flex justify-content-end" *ngIf="displayCreateStructureForm == false">
    Ajouter une structure <img src="../assets/plus-circle.svg" class="mx-3 img-link" width="30" (click)="toggleDisplayCreateStructureForm()">
  </div>
  <div class="row mb-5" *ngIf="displayCreateStructureForm == true">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
      <div class="bg-white shadow rounded p-4">
        <div class="d-flex justify-content-end">
          <img src="../assets/dash-circle.svg" class="img-link" width="30" (click)="toggleDisplayCreateStructureForm()">
        </div>
        <h2 class="display-5 text-dark">
          {{ titrePage }}
        </h2>
        <hr class="bg-dark mb-5">
        <form [formGroup]="structureForm" (ngSubmit)="onSubmitStructureForm()">
          <input type="text" formControlName="id" hidden>
          <div class="form-group mb-3">
            <label for="adr1">Adresse (n° et voie)</label>
            <input type="text" id="adr1" class="form-control" formControlName="adr1">
          </div>
          <div class="form-group mb-3">
            <label for="adr2">Adresse (suite) <em>(non-obligatoire)</em></label>
            <input type="text" id="adr2" class="form-control" formControlName="adr2">
          </div>
          <div class="form-group mb-3">
            <label for="cp">Code Postal</label>
            <span *ngIf="structureForm.controls['cp'].invalid" class="fieldAlert"> 5 chiffres</span>
            <input type="text" id="cp" class="form-control" formControlName="cp" maxlength="5">
          </div>
          <div class="form-group mb-3">
            <label for="ville">Ville</label>
            <input type="text" id="ville" class="form-control" formControlName="ville" appUppercaseInput >
          </div>
          <div class="form-group mb-3">
            <label for="sexegerant">Sexe Gérant</label>
            <input type="text" id="sexegerant" class="form-control" formControlName="sexegerant">
          </div>
          <div class="form-group mb-3">
            <label for="nomgerant">Gérant</label>
            <input type="text" id="nomgerant" class="form-control" formControlName="nomgerant">
          </div>
          <div class="form-group mb-3">
            <label for="mail">Mail</label>
            <span *ngIf="structureForm.controls['mail'].invalid" class="fieldAlert"> adresse mail valide svp - exemple : jean@gmail.com</span>
            <input type="email" id="mail" class="form-control" formControlName="mail">
          </div>
          <div class="form-group mb-3" *ngIf="!structureForm.value.id">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" placeholder="Minimum 8 caractères" id="password" formControlName="password"
            [ngClass]="structureForm.value.id ? 'noUpdate' : ''">
          </div>
          <div class="form-group mb-3" *ngIf="!structureForm.value.id">
            <label for="passwordConfirm">Confirmez le mot de passe</label>
            <input type="password" class="form-control" placeholder="Minimum 8 caractères" id="passwordConfirm" formControlName="passwordConfirm"
            [ngClass]="structureForm.value.id ? 'noUpdate' : ''">
          </div>
          <div class="form-group mb-3" [ngClass]="caseACocherActif == 0 ? 'locked': ''">
            <b>Actif</b>
              <div class="form-check">
                <div>
                  <input type="checkbox" class="form-check-input" id="actif" formControlName="actif">
                  <label for="actif" class="form-check-label">Actif</label>
                </div>
              </div>
          </div>
          <div class="d-flex">
            <input type="number" class="form-control" id="grants" formControlName="grants" hidden>
            <input type="number" class="form-control" id="partenaire" formControlName="partenaire" hidden>
            <button class="btn btn-success mx-auto" [disabled]="structureForm.invalid || structureForm.value.password !== structureForm.value.passwordConfirm">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

  <div class="container py-5">
    <h2 class="display-5 mb-5">{{ sousTitrePage }}</h2>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xxl-3 py-2" *ngFor="let structure of structuresToDisplay; let i = index">
        <div class="card">
          <!-- <img [src]="recette.photo" alt="Photo de la recette" class="card-img-top"> -->
          <!-- <img [src]="" alt="Photo du partenaire" class="card-img-top"> -->
          <div class="card-body" [ngClass]="structure.actif == 1 ? 'structure-actif' : 'structure-inactif'">
            <h5 class="card-title">{{ structure.id }}</h5>
            <p class="card-text">
              Adresse<br/>
              {{ structure.adr1 }}<br/>
              {{ structure.adr2 }}<br/>
              {{ structure.cp }} {{ structure.ville | uppercase}}<br/>
              <br/>
              {{ structure.sexegerant?.toUpperCase() === 'F' ? 'Mme' : 'M.' }} {{ structure.nomgerant }}<br/>
              {{ structure.mail }}
            </p>
            <hr/>
            <p class="card-text" *ngIf="role == 'admin'">
              <button class="btn btn-primary" type="button" (click)="onEditStructure(structure)">Modifier</button>
              <button class="btn btn-danger" type="button" (click)="onDeleteStructure(structure.id)">Supprimer</button>
            </p>
            <hr *ngIf="role == 'admin'">
            <button class="btn btn-success" type="button"
                [ngClass]="structure.actif == 1 ? 'btn-success' : 'btn-danger'"
                (click)="onToggleStructureActif(structure.id!.toString(), structure.actif!)"
                *ngIf="role == 'admin'">
                {{ structure.actif == 1 ? 'Désactiver' : 'Activer'}}
            </button>
            <button class="btn btn-primary" type="button"
              (click)="onToggleGrantsForm(structure.id)">
              {{ grantsFormToggle == structure.id ? "-" : "+" }}
            </button>
          </div>
          <div class="card" *ngIf="grantsFormToggle && grantsFormToggle == structure.id">
            <div class="card-body">
              <app-grants [structure]="structure"></app-grants>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

