<h1>PATIENTS</h1>

<div *ngIf="currentPatient">
  {{ currentPatient.id }}<br>
  {{ currentPatient.sex }}<br>
  {{ currentPatient.firstName }} {{ currentPatient.lastName | uppercase }}<br>
  {{ currentPatient.dob }}<br>
  {{ currentPatient.height }} cm<br>
  {{ currentPatient.weight }} kg
</div>
<br><br>

<div class="container py-5">
  <div class="row mb-5">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
      <div class="bg-white shadow rounded p-4">
        <h2 class="display-5 text-dark">
          Enregistrer un nouveau patient
        </h2>
        <hr class="bg-dark mb-5">
        <form [formGroup]="patientForm" (ngSubmit)="onSubmitPatientForm()">
          <input type="number" formControlName="id" hidden>
          <div class="form-group mb-3">
            <label for="lastName">NOM</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName" appUppercaseInput >
          </div>
          <div class="form-group mb-3">
            <label for="firstName">Prénom</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName">
          </div>
          <div class="form-group mb-3">
            <label for="signupEmail">Adresse email</label>
            <input type="email" class="form-control" placeholder="example@example.com" id="signupEmail" formControlName="email">
          </div>
          <div class="form-group mb-3">
            <label for="signupPassword">Mot de passe</label>
            <input type="password" class="form-control" placeholder="Minimum 8 caractères" id="signupPassword" formControlName="password">
          </div>
          <div class="form-group mb-3">
            <label for="signupPasswordConfirm">Confirmez le mot de passe</label>
            <input type="password" class="form-control" placeholder="Minimum 8 caractères" id="signupPasswordConfirm" formControlName="passwordConfirm">
          </div>
          <div class="form-group mb-3">
            <label for="dob">Date de naissance</label>
            <input type="text" id="dob" class="form-control" formControlName="dob">
          </div>
          <div class="form-group mb-3">
            <label for="sex">Sexe</label>
            <input type="text" id="sex" class="form-control" formControlName="sex">
          </div>
          <div class="form-group mb-3">
            <label for="height">Taille en cm</label>
            <input type="number" id="height" class="form-control" formControlName="height">
          </div>
          <div class="form-group mb-3">
            <label for="weight">Poids en kg</label>
            <input type="number" id="weight" class="form-control" formControlName="weight">
          </div>
          <div class="d-flex">
            <button class="btn btn-success mx-auto" [disabled]="patientForm.invalid || patientForm.value.password !== patientForm.value.passwordConfirm">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <h2 class="display-5 text-dark">Patients enregistrés</h2>
      <hr class="bg-dark mb-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">NOM - Prénom - Mail</th>
            <th scope="col">Sexe</th>
            <th scope="col">Date naissance</th>
            <th scope="col">Taille en cm</th>
            <th scope="col">Poids en kg</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patientList ; let i = index">
            <th>{{ i }}</th>
            <td>{{ patient.lastName | uppercase }} {{ patient.firstName }} - {{ patient.email }}</td>
            <td>{{ patient.sex }}</td>
            <td>{{ patient.dob }}</td>
            <td>{{ patient.height }}</td>
            <td>{{ patient.weight }}</td>
            <td>
              <button class="btn btn-primary" type="button" (click)="onEditPatient(patient, i)">Modifier</button>
              <button class="btn btn-danger" type="button" (click)="onDeletePatient(i)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
