<!-- <div class="container py-5 mt-3" *ngIf="currentRecette" [ngClass]="currentRecette.partenairesOnlyCheck ? 'patientsOnly' : ''">
  <h1 class="display-5">{{ currentRecette.title }}</h1>
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4">
      <img [src]="currentRecette.photo" alt="Photo de la recette" class="w-100">
    </div>
  </div>
  <h2 class="display-6">{{ currentRecette.description }}</h2>
  <hr>
  <div class="row mb-3">
    <div class="col-4">Préparation : {{ currentRecette.preparationTime ?? 0 }} mn</div>
    <div class="col-4">Pause : {{ currentRecette.breakTime ?? 0 }} mn</div>
    <div class="col-4">Cuisson : {{ currentRecette.cookingTime ?? 0 }} mn</div>
  </div>
  <h3 class="display-6">Ingrédients</h3>
  <p>{{ currentRecette.ingredients }}</p>
  <h3 class="display-6">Etapes</h3>
  <p class="white-space-pre">{{ currentRecette.steps }}</p>
  <hr>
  <p>Allergènes :
    {{ currentRecette.allergenCacao ? 'Cacao, ' : '' }}
    {{ currentRecette.allergenLait ? 'Lait, ' : '' }}
    {{ currentRecette.allergenCacahuete ? 'Cacahuètes, ' : '' }}
    {{ currentRecette.allergenGluten ? 'Gluten, ' : '' }}
  </p>
  <p>Régimes :
    {{ currentRecette.dietVegan ? 'Normal, ' : '' }}
    {{ currentRecette.dietVegan ? 'Végan, ' : '' }}
    {{ currentRecette.dietVegetarien ? 'Végétarien, ' : '' }}
    {{ currentRecette.dietPaleo ? 'Paléo, ' : '' }}
    {{ currentRecette.dietDiabete ? 'Diabète, ' : '' }}
    {{ currentRecette.dietProteine ? 'Protéiné, ' : '' }}
  </p>
</div>
 -->
<div class="container py-5">
  <h2 class="display-5 text-dark">Commentaires</h2>
  <hr class="bg-dark mb-5">
  <div class="row">
    <div *ngIf="commentaires.length > 0; else aucuncom" class="row">
      <div *ngFor="let com of commentaires" class="col-12 col-md-6 col-lg-4 col-xl-3 py-2">
        <div class="card p-3 white-space-pre">
          <div>
            <span class="signature">{{ com.prenom }}</span>
          </div>
          <br>
          {{ com.description }}
        </div>
      </div>
    </div>
    <ng-template #aucuncom>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 py-2">
        <div class="card p-3">
          Aucun commentaire pour le moment.
        </div>
      </div>
    </ng-template>
  </div>
</div>


<div class="container py-5" *ngIf="currentUserName">
  <div class="row mb-5">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
      <div class="bg-white shadow rounded p-4">
        <h2 class="display-5 text-dark">
          Enregistrer une nouveau commentaire
        </h2>
        <hr class="bg-dark mb-5">
        <form [formGroup]="commentaireForm" (ngSubmit)="onSubmitCommentaireForm()">
          <input type="text" formControlName="id" hidden>
          <input type="text" formControlName="idRecette" hidden>
          <input type="text" formControlName="prenom" hidden>
          <div class="form-group mb-3">
            <label for="description">Description</label>
            <textarea id="description" class="w-100 form-control" rows="6" formControlName="description"></textarea>
          </div>
          <div class="form-group mb-3">
            <label for="note">Note (entre 0 et 5)</label>
            <input type="number" id="note" min="0" max="5" maxlength="1" class="form-control" formControlName="note">
          </div>
          <div class="d-flex">
            <button class="btn btn-success mx-auto" [disabled]="commentaireForm.invalid">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>

