<h1>RECETTES</h1>

<div class="container py-5">
  <div class="row mb-5">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
      <div class="bg-white shadow rounded p-4">
        <h2 class="display-5 text-dark">
          Enregistrer une nouvelle recette
        </h2>
        <hr class="bg-dark mb-5">
        <form [formGroup]="recetteForm" (ngSubmit)="onSubmitRecetteForm()">
          <input type="text" formControlName="id" hidden>
          <div class="form-group mb-3">
            <label for="title">TITRE</label>
            <input type="text" id="title" class="form-control" formControlName="title" appUppercaseInput >
          </div>
          <div class="px-3" *ngIf="currentRecettePhotoUrl && currentRecettePhotoUrl !== ''">
            <img [src]="currentRecettePhotoUrl" alt="Photo de la recette" class="w-100 rounded">
          </div>
          <div class="mb-3">
            <label for="recettePhotoInput" class="form-label">Choisir une image</label>
            <input type="file" id="recettePhotoInput" class="form-control" formControlName="photo" (change)="onChangePhotoFile($event)">
          </div>
          <div class="form-group mb-3">
            <label for="description">Description</label>
            <textarea id="description" class="w-100 form-control" rows="6" formControlName="description"></textarea>
          </div>
          <div class="form-group mb-3">
            <label for="preparationTime">Temps de préparation</label>
            <input type="number" id="preparationTime" class="form-control" formControlName="preparationTime">
          </div>
          <div class="form-group mb-3">
            <label for="breakTime">Temps de pause</label>
            <input type="number" id="breakTime" class="form-control" formControlName="breakTime">
          </div>
          <div class="form-group mb-3">
            <label for="cookingTime">Temps de cuisson</label>
            <input type="number" id="cookingTime" class="form-control" formControlName="cookingTime">
          </div>
          <div class="form-group mb-3">
            <label for="ingredients">Ingrédients</label>
            <input type="text" id="ingredients" class="form-control" formControlName="ingredients">
          </div>
          <div class="form-group mb-3">
            <label for="steps">Etapes</label>
            <textarea id="steps" class="w-100 form-control" rows="10" formControlName="steps"></textarea>
          </div>
          <div class="form-group mb-3">
            <b>Régime</b>
              <div class="form-check">
                <div>
                  <input type="checkbox" class="form-check-input" id="dietNormal" formControlName="dietNormal">
                  <label for="dietNormal" class="form-check-label">Normal</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="dietVegan" formControlName="dietVegan">
                  <label for="dietVegan" class="form-check-label">Végan</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="dietVegetarien" formControlName="dietVegetarien">
                  <label for="dietVegetarien" class="form-check-label">Végétarien</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="dietPaleo" formControlName="dietPaleo">
                  <label for="dietPaleo" class="form-check-label">Paléo</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="dietDiabete" formControlName="dietDiabete">
                  <label for="dietDiabete" class="form-check-label">Diabète</label>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" id="dietProteine" formControlName="dietProteine">
                  <label for="dietProteine" class="form-check-label">Protéiné</label>
                </div>
              </div>
          </div>
          <div class="form-group mb-3">
            <b>Allergies</b>
            <div class="form-check">
              <div>
                <input type="checkbox" class="form-check-input" id="allergenCacao" formControlName="allergenCacao">
                <label for="allergenCacao" class="form-check-label">Cacao</label>
              </div>
              <div>
                <input type="checkbox" class="form-check-input" id="allergenCacahuete" formControlName="allergenCacahuete">
                <label for="allergenCacahuete" class="form-check-label">Cacahuètes</label>
              </div>
              <div>
                <input type="checkbox" class="form-check-input" id="allergenLait" formControlName="allergenLait">
                <label for="allergenLait" class="form-check-label">Lait</label>
              </div>
              <div>
                <input type="checkbox" class="form-check-input" id="allergenGluten" formControlName="allergenGluten">
                <label for="allergenGluten" class="form-check-label">Gluten</label>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="patientsOnlyCheck" formControlName="patientsOnlyCheck">
            <label for="patientsOnlyCheck" class="form-check-label">Réservée au patients uniquement</label>
          </div>
          <div class="d-flex">
            <button class="btn btn-success mx-auto" [disabled]="recetteForm.invalid">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <h2 class="display-5 text-dark">Recettes enregistrées</h2>
      <hr class="bg-dark mb-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th>Photo</th>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Durées</th>
            <th scope="col">Ingrédients</th>
            <th scope="col">Allergènes</th>
            <th scope="col">Régimes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recette of recettes ; let i = index" [ngClass]="recette.patientsOnlyCheck ? 'patientsOnly' : ''">
            <th>{{ i }}</th>
            <td>
              <img *ngIf="recette.photo" [src]="recette.photo | safeUrl" alt="Photo de la recette" width="90">
            </td>
            <td>{{ recette.title }}</td>
            <td>{{ (recette.description && recette.description.length > 50) ? (recette.description | slice:0:40) + '...' : recette.description }}</td>
            <td>{{ recette.preparationTime }} - {{ recette.breakTime }} - {{ recette.cookingTime }}</td>
            <td>{{ (recette.ingredients && recette.ingredients.length > 50) ? (recette.ingredients | slice:0:40) + '...' : recette.ingredients }}</td>
            <td>
              {{ recette.allergenCacao ? 'Cacao, ' : '' }}
              {{ recette.allergenLait ? 'Lait, ' : '' }}
              {{ recette.allergenCacahuete ? 'Cacahuètes, ' : '' }}
              {{ recette.allergenGluten ? 'Gluten, ' : '' }}
            </td>
            <td>
              {{ recette.dietVegan ? 'Normal, ' : '' }}
              {{ recette.dietVegan ? 'Végan, ' : '' }}
              {{ recette.dietVegetarien ? 'Végétarien, ' : '' }}
              {{ recette.dietPaleo ? 'Paléo, ' : '' }}
              {{ recette.dietDiabete ? 'Diabète, ' : '' }}
              {{ recette.dietProteine ? 'Protéiné, ' : '' }}
            </td>
            <td>
              <button class="btn btn-primary" type="button" (click)="onEditRecette(recette)">Modifier</button>
              <button class="btn btn-danger" type="button" (click)="onDeleteRecette(recette.id)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>



