<h1>ADMINISTRATION</h1>

<div class="container py-5">
  <div class="row mb-5">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
      <div class="bg-white shadow rounded p-4">
        <h2 class="display-5 text-dark">
          Enregistrer un nouveau partenaire
        </h2>
        <hr class="bg-dark mb-5">
        <form [formGroup]="partenaireForm" (ngSubmit)="onSubmitPartenaireForm()">
          <input type="number" formControlName="id" hidden>
          <div class="form-group mb-3">
            <label for="lastName">NOM</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName" appUppercaseInput >
          </div>
          <div class="form-group mb-3">
            <label for="firstName">Prénom</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName">
          </div>
          <div class="form-group mb-3">
            <label for="sex">Sexe</label>
            <input type="text" id="sex" class="form-control" formControlName="sex">
          </div>
          <div class="form-group mb-3">
            <label for="height">Taille en cm</label>
            <input type="number" id="height" class="form-control" formControlName="height">
          </div>
          <div class="form-group mb-3">
            <label for="weight">Poids en kg</label>
            <input type="number" id="weight" class="form-control" formControlName="weight">
          </div>
          <div class="d-flex">
            <button class="btn btn-success mx-auto" [disabled]="partenaireForm.invalid">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <h2 class="display-5 text-dark">Partenaires enregistrés</h2>
      <hr class="bg-dark mb-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Franchise</th>
            <th scope="col">Gérant</th>
            <th scope="col">Mail</th>
            <th scope="col">Actif ?</th>

            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let partenaire of partenaireList ; let i = index">
            <th>{{ i }}</th>
            <td>{{ partenaire.nomfranchise }}</td>
            <td>{{ partenaire.sexegerant | uppercase }} {{ partenaire.nomgerant }}</td>
            <td>{{ partenaire.mail }}</td>
            <td>{{ partenaire.actif }}</td>

            <td>
              <button class="btn btn-primary" type="button" (click)="onEditPartenaire(partenaire, i)">Modifier</button>
              <button class="btn btn-danger" type="button" (click)="onDeletePartenaire(i)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
