/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

*{
  --green : #609A7D;
  --red : #DC9A7D;
  --white : #F3F3F7;
  --grey: #BDB9B3;
  --black: #0C0920;

/* Ajouté manuellement, pas via BootStrap */
    --activeColor: green;
    --inactiveColor: red;
    --bgActive: lightgreen;
    --bgInactive: lightcoral;

}


.patientsOnly{
  background-color: lightblue;
}

.fieldAlert{
  font-size: 0.8rem;
  color: red;
  font-style: italic;
}
