<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mx-auto">
      <h2 class="display-5">A Propos</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas explicabo voluptates, eveniet id sunt doloremque suscipit laudantium autem excepturi omnis rem, officiis reiciendis ex maiores alias soluta debitis eum quas?</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mx-auto">
      <h2 class="display-5">Mes services</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas explicabo voluptates, eveniet id sunt doloremque suscipit laudantium autem excepturi omnis rem, officiis reiciendis ex maiores alias soluta debitis eum quas?</p>
    </div>
  </div>
</div>

<div class="container py-5">
  <h1 class="display-5 mb-5">Toutes les recettes</h1>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mx-auto py-2" *ngFor="let recette of recettes">
      <div class="card" *ngIf="currentUser || !currentUser && !recette.patientsOnlyCheck">
        <img [src]="recette.photo" alt="Photo de la recette" class="card-img-top">
        <div class="card-body"  [ngClass]="recette.patientsOnlyCheck ? 'patientsOnly' : ''">
          <h5 class="card-title">{{ recette.title }}</h5>
          <h6 class="fw-normal fs-5">Régime(s) : {{ recette.diets }}</h6>
          <p class="card-text">{{ recette.description }}</p>
          <a [routerLink]="['/recettes', recette.id]" class="btn btn-primary">Voir</a>
        </div>
      </div>
    </div>
  </div>
</div>
